<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DTU | Research Group</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="apple-touch-icon"
      sizes="180X180"
      href="./apple-icon-180x180.png"
    />
  </head>
  <body>
    <div id="navbar">
      <div class="container">
        <nav id="main-nav">
          <img src="/logo.png" alt="logo" id="logo" />
          <ul>
            <li><a href="/" class="current">Home</a></li>
            <li><a href="/people">Who we are?</a></li>
            <li><a href="/publications">Publications</a></li>
            <li><a href="/joinus">Join Us</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <section id="home-a" class="my-2">
      <div class="container">
        <h2 class="section-title">About Us</h2>
        <div class="bottom-line"></div>
        <p class="lead">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure minima
          quam esse. Nobis illum labore, placeat veritatis sit minus itaque
          molestiae eaque est id voluptas dolor qui, optio magni. Delectus
          similique cupiditate quaerat aliquam. Recusandae in minima facilis
          velit dolorem. Lorem ipsum dolor sit amet consectetur, adipisicing
          elit. Quibusdam expedita modi reprehenderit sed molestias! Facere
          corporis, delectus, deserunt enim id ad quis, laborum asperiores
          voluptatum impedit voluptate. Aut, porro corrupti, eos necessitatibus
          aliquam aperiam harum dolor sapiente cum pariatur nulla?
        </p>
      </div>
    </section>
    <section id="home-b" class="my-2">
      <div class="container">
        <h2 class="section-title">Our Research Projects</h2>

        <div class="bottom-line"></div>
        <p class="lead"></p>
        <div class="items">
          <div class="item">
            <div class="item-image">
              <img src="/items/img1.jpg" alt="" />
            </div>
            <div class="item-text">
              <div class="item-text-wrap">
                <p class="item-text-category">ML | DL</p>
                <h2 class="item-text-title">Improvised neural networks</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-image">
              <img src="/items/img2.jpg" alt="" />
            </div>
            <div class="item-text">
              <div class="item-text-wrap">
                <p class="item-text-category">AI | ML</p>
                <h2 class="item-text-title">Quantam Analysis</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-image">
              <img src="/items/img3.jpg" alt="" />
            </div>
            <div class="item-text">
              <div class="item-text-wrap">
                <p class="item-text-category">AI</p>
                <h2 class="item-text-title">Covid-19 detection</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-image">
              <img src="/items/img4.jpg" alt="" />
            </div>
            <div class="item-text">
              <div class="item-text-wrap">
                <p class="item-text-category">ML|DL</p>
                <h2 class="item-text-title">Hate Speech Classification</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-image">
              <img src="/items/img5.png" alt="" />
            </div>
            <div class="item-text">
              <div class="item-text-wrap">
                <p class="item-text-category">Statistics</p>
                <h2 class="item-text-title">Beizer Production Function</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-image">
              <img src="/items/img6.jpg" alt="" />
            </div>
            <div class="item-text">
              <div class="item-text-wrap">
                <p class="item-text-category">Regression</p>
                <h2 class="item-text-title">Multi Neural Regression</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-image">
              <img src="/items/img7.jpg" alt="" />
            </div>
            <div class="item-text">
              <div class="item-text-wrap">
                <p class="item-text-category">Networking | ML</p>
                <h2 class="item-text-title">Intrusion Detection</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-image">
              <img src="/items/img8.jpg" alt="" />
            </div>
            <div class="item-text">
              <div class="item-text-wrap">
                <p class="item-text-category">NLP | ML</p>
                <h2 class="item-text-title">Maths Functions by Speech</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-image">
              <img src="/items/img9.jpg" alt="" />
            </div>
            <div class="item-text">
              <div class="item-text-wrap">
                <p class="item-text-category">Big Data</p>
                <h2 class="item-text-title">Data Visualization Techniques</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer id="main-footer">
      <div class="footer-content container">
        <p>Also follow us on :</p>
        <div class="social">
          <i class="fab fa-twitter"></i>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-linkedin"></i>
        </div>
      </div>
    </footer>
  </body>
</html>
